.sidebar {
  position: fixed;
  left: 0px;
  top: 55px;
  bottom: 0px;
  background-color: white;
  width: 72px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgb(216, 216, 216);
}
